[tool.poetry]
name = "plain.sessions"
packages = [
    { include = "plain" },
]
version = "0.2.0"
description = "Session management for Plain."
authors = ["Dave Gaeddert <dave.gaeddert@dropseed.dev>"]
# readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"

[tool.poetry.group.dev.dependencies]
plain = {path = "../plain", develop = true}
"plain.models" = {path = "../plain-models", develop = true}
"plain.pytest" = {path = "../plain-pytest", develop = true}
coverage = "^7.6.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
