[tool.poetry]
name = "plain.passwords"
packages = [
    { include = "plain" },
]
version = "0.2.0"
description = "Password-based login for Plain."
authors = ["Dave Gaeddert <dave.gaeddert@dropseed.dev>"]
# readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
plain = "<1.0.0"

[tool.poetry.group.dev.dependencies]
plain = { path = "../plain", develop = true }

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
