{% extends "bolt/admin/base.html" %}

{% block content %}
<!-- <a href="#">New</a> -->

<div class="">
    <div class="p-2 bg-white border border-gray-200 rounded">

        {% if show_search %}
        <div class="flex justify-end">
            <form method="GET">
                <input
                    name="search"
                    class="border rounded"
                    {% if search_query %}value="{{ search_query }}"{% endif %}
                    />
                <button type="submit">Search</button>
            </form>
        </div>
        {% endif %}

        <div class="overflow-auto">
            <table class="w-full mt-4 text-sm table-auto">
                <thead>
                    <tr>
                        <th></th>
                        {% for field in list_fields %}
                        <th class="px-2 font-mono text-left text-gray-700">
                            <a href="?order_by={{ '-' if not order_by_direction else '' }}{{ field }}">
                                {{ field }}
                                {% if field == order_by_field %}
                                {% if order_by_direction == "-" %}
                                <span class="text-xs">▲</span>
                                {% else %}
                                <span class="text-xs">▼</span>
                                {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        {% endfor %}
                        <th></th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for object in objects %}
                    <tr class="hover:bg-gray-50">
                        <td class="py-2">
                            <!-- <input type="checkbox" /> -->
                        </td>
                        {% for field in list_fields %}
                        <td class="px-2 py-2 whitespace-nowrap">{{ object[field] }}</td>
                        {% endfor %}

                        {% set update_url = get_update_url(object) %}
                        {% if update_url %}
                        <td class="py-2">
                            <a class="text-blue-600 hover:underline" href="{{ update_url }}">Edit</a>
                        </td>
                        {% else %}
                        <td class="py-2">
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mt-4">
            <div class="flex items-center justify-between">
                <div class="p-2 text-sm text-gray-500">
                    {% if page.has_other_pages() %}
                    Page {{ page.number }} of {{ page.paginator.num_pages }} ({{ page.paginator.count }} results)
                    {% else %}
                    Showing all {{ page.paginator.count }} results
                    {% endif %}
                </div>
                {% if page.has_other_pages() %}
                <ul class="flex justify-center">
                    {% if page.has_previous() %}
                    <li>
                        <a class="text-blue-600 hover:underline" href="?page={{ page.previous_page_number() }}">&laquo;</a>
                    </li>
                    {% endif %}
                    {% for page_num in page.paginator.page_range %}
                    {% if page_num == page.number %}
                    <li>
                        <a class="text-blue-600 hover:underline" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page.has_next() %}
                    <li>
                        <a class="text-blue-600 hover:underline" href="?page={{ page.next_page_number() }}">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>

    </div>
</div>

{% endblock %}
