{% extends "base.html" %}

{% block content %}
{% for error in form_errors(form) %}
<p class="form-error">{{ error.message }}</p>
{% endfor %}
<form method="post">
  <p>
    <input
      type="email"
      name="email"
      placeholder="Email"
      value="{{ field_value(form, form_class.email) }}"
      >
    {% for error in field_errors(form, form_class.email) %}
    <span class="form-error">{{ error.message }}</span>
    {% endfor %}
  </p>
  <input type="hidden" name="next" value="{{ field_value(form, form_class.next) }}">
  <button type="submit">Send login link</button>
</form>
{% endblock %}
