<aside
    id="card-{{ slug }}"
    hx-target="this"
    hx-select="#card-{{ slug }}"
    hx-swap="outerHTML"
    {% if size.value == 1 -%}
    class="card col-span-1">
    {%- elif size.value == 2 -%}
    class="card col-span-2">
    {%- elif size.value == 3 -%}
    class="card col-span-3">
    {%- elif size.value == 4 -%}
    class="card col-span-4">
    {%- endif %}
    {% block header %}
    <header class="flex justify-between items-center">
        <div>
            <h2>{{ title }}</h2>
            {% if description %}<p class="mt-1 text-xs text-black/50">{{ description }}</p>{% endif %}
        </div>

        {% if filters %}
        <div>
            <select
                hx-get
                name="{{ slug }}.filter"
                class="text-xs py-1.5">
                <option value="">(Reset to default)</option>
                {% for filter in filters %}
                <option value="{{ filter.value }}" {% if filter.value == current_filter %}selected{% endif %}>{{ filter }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    </header>
    {% endblock %}

    <section>
    {% block content %}{% endblock %}
    </section>
</aside>
