<aside
    id="card-{{ slug }}"
    hx-target="this"
    hx-select="#card-{{ slug }}"
    hx-swap="outerHTML"
    class="admin-card col-span-{{ size.value }} flex flex-col gap-2 px-6 py-4"
    >
    {% block header %}
    <header class="flex justify-between items-center">
        <div>
            <h2 class="text-xs font-medium text-admin-muted-foreground">{{ title }}</h2>
            {% if description %}<p class="mt-0.5 text-xs text-admin-muted-foreground/80">{{ description }}</p>{% endif %}
        </div>

        {% if filters %}
        <div>
            <select
                hx-get
                name="{{ slug }}.filter"
                class="admin-select admin-select-sm w-auto text-xs!">
                <option value="">(Reset to default)</option>
                {% for filter in filters %}
                <option value="{{ filter.value }}" {% if filter.value == current_filter %}selected{% endif %}>{{ filter }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    </header>
    {% endblock %}

    <section>
    {% block content %}{% endblock %}
    </section>
</aside>
