<aside
    id="card-{{ slug }}"
    hx-target="this"
    hx-select="#card-{{ slug }}"
    hx-swap="outerHTML"
    {% if size.value == 1 -%}
    class="col-span-1 h-60">
    {%- elif size.value == 2 -%}
    class="col-span-2">
    {%- elif size.value == 3 -%}
    class="col-span-3">
    {%- elif size.value == 4 -%}
    class="col-span-4">
    {%- endif %}
    {% block header %}
    <header class="flex justify-between items-center">
        <div>
            <h2 class="text-sm font-semibold">{{ title }}</h2>
            {% if description %}<p class="mt-1 text-xs text-black/50">{{ description }}</p>{% endif %}
        </div>

        {% if presets %}
        <div>
            <select
                hx-get
                name="{{ slug }}.preset"
                class="text-xs py-1.5">
                <option value="">(Reset to default)</option>
                {% for preset in presets %}
                <option {% if preset == current_preset %}selected{% endif %}>{{ preset }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    </header>
    {% endblock %}

    <div class="card-content">
    {% block content %}{% endblock %}
    </div>
</aside>
