{% extends "admin/cards/base.html" %}

{% block content %}
<div class="flex-grow w-full">
  <table>
    {% if headers %}
    <thead>
      <tr>
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    {% endif %}
    <tbody>
      {% for row in rows %}
      <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    {% if footers %}
    <tfoot>
      {% if footers[0] is sequence and footers[0] is not string %}
      {% for footer_row in footers %}
      <tr>
        {% for cell in footer_row %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        {% for footer in footers %}
        <td>{{ footer }}</td>
        {% endfor %}
      </tr>
      {% endif %}
    </tfoot>
    {% endif %}
  </table>
</div>
{% endblock %}
