---
components:
  - base as Base
  - components/NonfieldErrors
  - components/Field
attrs:
  form: plain.forms.Form
---
<Base>
<template :slot="title">Log in</template>
<div class="max-w-md mx-auto px-5 py-16">
    <h1 class="page-h1">Log in</h1>
    <form method="post" class="mt-6 flex flex-col gap-5">
        <NonfieldErrors form={form} />
        <Field
            bf={form.email}
            label="Email"
            type="email"
            autocomplete="email"
            autofocus={True}
            required={True}
        />
        <Field
            bf={form.password}
            label="Password"
            type="password"
            autocomplete="current-password"
            required={True}
        />
        <button type="submit" class="btn-primary self-start">Log in</button>
    </form>
</div>
</Base>
