{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="p-8">
    <div class="max-w-md mx-auto">
        <h1 class="text-2xl font-bold mb-4">Login</h1>

        <form method="post" class="flex flex-col">
            {% for error in form.non_field_errors %}
            <div class="text-red-500 border-red-500 border rounded-md p-2 mb-4">{{ error }}</div>
            {% endfor %}

            <label class="text-sm mb-1" for="{{ form.email.html_id }}">Email</label>
            <input
                class="border border-gray-300 rounded-md px-3 py-2 mb-4"
                type="email"
                name="{{ form.email.html_name }}"
                id="{{ form.email.html_id }}"
                value="{{ form.email.value() or '' }}"
                autocomplete="email"
                autofocus
                required>

            <label class="text-sm mb-1" for="{{ form.password.html_id }}">Password</label>
            <input
                class="border border-gray-300 rounded-md px-3 py-2 mb-4"
                type="password"
                name="{{ form.password.html_name }}"
                id="{{ form.password.html_id }}"
                autocomplete="current-password"
                required>

            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Login
            </button>
        </form>
    </div>
</div>
{% endblock %}
