[tool.poetry]

name = "plain.tailwind"
packages = [
    { include = "plain" },
]

version = "0.3.1"
description = "Integrate Tailwind CSS with Plain."
authors = ["Dave Gaeddert <dave.gaeddert@dropseed.dev>"]
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://plainframework.com"
documentation = "https://plainframework.com/docs/"
repository = "https://github.com/dropseed/plain"

[tool.poetry.plugins."plain.dev"]
"tailwind" = "plain.tailwind.entrypoints:run_dev_compile"

[tool.poetry.plugins."plain.assets.compile"]
"tailwind" = "plain.tailwind.entrypoints:run_compile"

[tool.poetry.dependencies]
python = "^3.11"
plain = "<1.0.0"
click = ">=8.0.0"
requests = ">=2.0.0"
tomlkit = "^0.12.1"

[tool.poetry.group.dev.dependencies]
plain = {path = "../plain", develop = true}
pytest = "^7.1.2"
ipdb = "^0.13.9"
isort = "^5.10.1"
black = "^22.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
