[project]
name = "plain.tailwind"
version = "0.15.4"
description = "Integrate Tailwind CSS without JavaScript or npm."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
license = "BSD-3-Clause"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "plain<1.0.0",
    "requests>=2.0.0",
    "tomlkit>=0.12.1",
]

[project.scripts]
# Make this directly available without loading Plain,
# so tailwind install can be separated.
plain-tailwind = "plain.tailwind.cli:cli"

[project.entry-points."plain.dev"]
"tailwind" = "plain.tailwind.entrypoints:run_dev_build"

[project.entry-points."plain.build"]
"tailwind" = "plain.tailwind.entrypoints:run_build"

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
