[project]
name = "plain.dev"
version = "0.35.0"
description = "A single command that runs everything you need for local development."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
license = "BSD-3-Clause"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "plain<1.0.0",
    "click>=8.0.0",
    "python-dotenv~=1.0.0",
    "gunicorn>20",
    "requests>=2.0.0",
    "rich",
    "inotify",
]

# Make this available as a standalone command
# in case plain can't load or something (this can run anyways)
[project.scripts]
plain-contrib = "plain.dev.contribute:cli"

[project.entry-points."plain.setup"]
"dev-setup" = "plain.dev.entrypoints:setup"

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
