[project]
name = "plain.dev"
version = "0.19.0"
description = "Local development tools for Plain."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
license = "BSD-3-Clause"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "plain<1.0.0",
    "click>=8.0.0",
    "python-dotenv~=1.0.0",
    "gunicorn>20",
    "requests>=2.0.0",
    "psycopg[binary]~=3.2.2",
    "rich",
]

# Make the CLI available without adding to INSTALLED_APPS
[project.entry-points."plain.cli"]
"dev" = "plain.dev:cli"
"pre-commit" = "plain.dev.precommit:cli"
"contrib" = "plain.dev.contribute:cli"

[project.entry-points."plain.setup"]
"dev-setup" = "plain.dev.entrypoints:setup"

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
