<div class="actions">
  {% block actions %}
    {% block actions-form %}
    {% for field in action_form %}{% if field.label %}<label>{{ field.label }} {{ field }}</label>{% else %}{{ field }}{% endif %}{% endfor %}
    {% endblock %}
    {% block actions-submit %}
    <button type="submit" class="button" title="Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">Go</button>
    {% endblock %}
    {% block actions-counter %}
    {% if actions_selection_counter %}
        <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
        {% if cl.result_count != cl.result_list|length %}
        <span class="hidden all">{{ selection_note_all }}</span>
        <span class="hidden question">
            <a href="#" title="Click here to select the objects across all pages">Select all {{ cl.result_count }} {{ module_name }}</a>
        </span>
        <span class="hidden clear"><a href="#">Clear selection</a></span>
        {% endif %}
    {% endif %}
    {% endblock %}
  {% endblock %}
</div>
