[project]
name = "plain"
version = "0.44.0"
description = "A web framework for building products with Python."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
readme = "README.md"
dependencies = [
    "jinja2>=3.1.2",
    "click>=8.0.0",
]
requires-python = ">=3.11"

[project.scripts]
plain = "plain.cli.core:cli"

[tool.uv]
dev-dependencies = [
    "pytest>=8.0.0",
]

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
