[project]
name = "plain"
version = "0.55.0"
description = "A web framework for building products with Python."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
readme = "README.md"
dependencies = [
    "jinja2>=3.1.2",
    "click>=8.0.0",
    "opentelemetry-api>=1.34.1",
    "opentelemetry-semantic-conventions>=0.55b1",
]
requires-python = ">=3.11"

[project.scripts]
plain = "plain.cli.core:cli"

# Make this directly available without loading Plain,
# for use in upgrade scripts.
plain-changelog = "plain.cli.changelog:changelog"

[tool.uv]
dev-dependencies = [
    "pytest>=8.0.0",
]

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
