[project]
name = "plain"
version = "0.103.0"
description = "A web framework for building products with Python."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
readme = "README.md"
license = "BSD-3-Clause"
dependencies = [
    "jinja2>=3.1.2",
    "click>=8.0.0",
    "opentelemetry-api>=1.34.1",
    "opentelemetry-semantic-conventions>=0.55b1",
    "watchfiles>=0.18.0",
]
requires-python = ">=3.13"

[project.scripts]
plain = "plain.cli.core:cli"

[dependency-groups]
dev = [
    "pytest>=8.0.0",
]

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
