---
components:
  - admin/base as Base
  - elements/admin/InputField
  - elements/admin/Submit
attrs:
  form: Any
  title: str = ""
  app_name: str = "Plain"
  admin_force_theme: str = ""
  description: str = ""
  image: Any = None
  links: dict = {}
  extra_links: dict = {}
  parent_view_classes: list = []
  object: Any = None
  cards: list = []
---
<Base
    title="{{ title }}"
    app_name="{{ app_name }}"
    admin_force_theme="{{ admin_force_theme }}"
    description="{{ description }}"
    image="{{ image }}"
    links="{{ links }}"
    extra_links="{{ extra_links }}"
    parent_view_classes="{{ parent_view_classes }}"
    object="{{ object }}"
    cards="{{ cards }}"
>
    <form method="post" class="space-y-4">
        <InputField label="Key" field="{{ form.key }}" />
        <InputField label="Value" field="{{ form.value }}" />
        <Submit>Save</Submit>
    </form>
</Base>
