{% set local_value = value|localtime %}
{% set same_year = local_value.year == (now()|localtime).year %}
<time
    class="tabular-nums cursor-help"
    datetime="{{ value.isoformat() }}"
>
    {% if same_year %}
    <span class="sm:hidden">{{ local_value|strftime("%-m/%-d %-I:%M %p") }}</span>
    <span class="hidden sm:inline">{{ local_value|strftime("%b %-d at %-I:%M %p") }}</span>
    {% else %}
    <span class="sm:hidden">{{ local_value|strftime("%-m/%-d/%y %-I:%M %p") }}</span>
    <span class="hidden sm:inline">{{ local_value|strftime("%b %-d, %Y at %-I:%M %p") }}</span>
    {% endif %}
</time>
