---
imports:
  - from plain.utils.timezone import localtime
  - from plain.utils.timezone import now
attrs:
  value: Any = None
  field: Any = None
  object: Any = None
---
<time class="tabular-nums cursor-help" datetime={{ value.isoformat() }}>
    {% if localtime(value).year == localtime(now()).year %}
        <span class="sm:hidden">{{ localtime(value).strftime("%-m/%-d %-I:%M %p") }}</span>
        <span class="hidden sm:inline">{{ localtime(value).strftime("%b %-d at %-I:%M %p") }}</span>
    {% endif %}
    {% if localtime(value).year != localtime(now()).year %}
        <span class="sm:hidden">{{ localtime(value).strftime("%-m/%-d/%y %-I:%M %p") }}</span>
        <span class="hidden sm:inline">{{ localtime(value).strftime("%b %-d, %Y at %-I:%M %p") }}</span>
    {% endif %}
</time>
