[project]
name = "plain.api"
version = "0.1.0"
description = "API for Plain."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "plain<1.0.0",
]

[tool.uv]
dev-dependencies = [
    "plain.auth<1.0.0",
    "plain.pytest<1.0.0",
]

[tool.uv.sources]
"plain.auth" = {path = "../plain-auth", editable = true}
"plain.pytest" = {path = "../plain-pytest", editable = true}

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
