[tool.poetry]
name = "plain.worker"
packages = [
    { include = "plain" },
]

version = "0.0.0"
description = ""
authors = ["Dave Gaeddert <dave.gaeddert@dropseed.dev>"]

[tool.poetry.dependencies]
python = "^3.11"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
plainframework = {path = "../plain"}
"plain.models" = {path = "../plain-models"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
