<dl class="text-sm grid grid-cols-1 sm:grid-cols-[max-content_1fr] sm:gap-y-2 gap-x-8 px-6 py-4">
    <dt>Request ID</dt>
    <dd class="text-sm text-white/50">{{ request.unique_id }}</dd>

    <dt>Query params</dt>
    <dd class="text-sm text-white/50">{{ request.query_params }}</dd>

    <dt>Method</dt>
    <dd class="text-sm text-white/50">{{ request.method }}</dd>

    {% if request.resolver_match %}
    <dt>View</dt>
    <dd class="text-sm text-white/50">{{ request.resolver_match.view.view_class|pprint }}</dd>

    <dt>URL pattern</dt>
    <dd class="text-sm text-white/50">
        <pre><code>"{{ request.resolver_match.route }}"</code></pre>
    </dd>

    <dt>URL name</dt>
    <dd class="text-sm text-white/50">
        <pre><code>"{{ request.resolver_match.namespaced_url_name }}"</code></pre>
    </dd>

    <dt>URL args</dt>
    <dd class="text-sm text-white/50">
        <pre><code>{{ request.resolver_match.args }}</code></pre>
    </dd>

    <dt>URL kwargs</dt>
    <dd class="text-sm text-white/50">
        <pre><code>{{ request.resolver_match.kwargs }}</code></pre>
    </dd>
    {% endif %}

    {% if template_names is defined %}
    <dt>Template names</dt>
    <dd class="text-sm text-white/50">
        <pre><code>{{ template_names }}</code></pre>
    </dd>
    {% endif %}

    {% if object|default(false) %}
    <dt>Primary object</dt>
    <dd class="text-sm text-white/50 inline-flex items-center" title="ID: {{ object.id|default('unknown') }}">
        <pre><code>{{ object.__repr__() }}</code></pre>
    </dd>
    {% endif %}

</dl>
