[project]
name = "plain.pytest"
version = "0.4.1"
description = "Pytest integration for Plain."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
license = "BSD-3-Clause"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "plain<1.0.0",
    "click>=8.0.0",
    "pytest>=7.0.0",
    "python-dotenv~=1.0.0",
]

# Make the CLI available without adding to INSTALLED_APPS
[project.entry-points."plain.cli"]
"test" = "plain.pytest:cli"

# Automatically sets this up with pytest
[project.entry-points."pytest11"]
"plain" = "plain.pytest.plugin"

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
