[project]
name = "plain.jobs"
version = "0.38.1"
description = "Process background jobs with a database-driven job queue."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
readme = "README.md"
license = "BSD-3-Clause"
requires-python = ">=3.13"
dependencies = [
    "plain<1.0.0",
    "plain.models<1.0.0",
]

[dependency-groups]
dev = [
    "pytest>=8.0.0",
]

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
