<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%- if title|default('') -%}
            {{ title }} - Bolt Admin
        {%- else -%}
            Bolt Admin
        {%- endif -%}
    </title>
    {% tailwind_css %}
    <link href="{{ asset('admin/admin.css') }}" rel="stylesheet">
    <script src="{{ asset('admin/chart.js') }}"></script>
    <script src="{{ asset('admin/jquery-3.6.1.slim.min.js') }}"></script>
</head>
<body class="flex min-h-screen text-black bg-stone-100">
    <div class="fixed flex flex-col justify-between flex-shrink-0 w-64 h-full px-6 pt-6 pb-3">
        <div>
            <a class="font-bold text-stone-800" href="{{ url('admin:index') }}">Bolt Admin</a>
            <div class="mt-4">
                {% for view in admin_registry.get_nav_views() %}
                <a class="flex items-center px-2 py-2 -mx-2 text-sm rounded hover:text-black text-stone-600 hover:bg-stone-200" href="{{ view.get_absolute_url() }}">
                    {{ view.title }}
                </a>
                {% endfor %}
            </div>

            {% if admin_registry.registered_dashboards|length > 1 %}
            <div class="mt-6">
                <div class="text-xs tracking-wide text-gray-500">Dashboards</div>
                {% for view in admin_registry.registered_dashboards %}
                <a class="flex items-center px-2 py-2 -mx-2 text-sm rounded hover:text-black text-stone-600 hover:bg-stone-200" href="{{ view.get_absolute_url() }}">
                    {{ view.title }}
                </a>
                {% endfor %}
            </div>
            {% endif %}

            <div class="mt-6">
                <div class="text-xs tracking-wide text-gray-500">Pinned</div>
            </div>
            <div class="mt-6">
                <div class="text-xs tracking-wide text-gray-500">Recent</div>
            </div>
        </div>
        <div class="flex items-center justify-between text-sm text-stone-700">
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-4 h-4 mr-2 bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                {{ request.user }}
            </div>
            <a class="hover:text-white hover:underline" href="{{ url('logout') }}">Log out</a>
        </div>
    </div>
    <div class="flex-grow ml-64 overflow-auto text-black bg-white rounded-l-lg shadow-sm shadow-stone-400">
        <div class="flex justify-between px-8 py-4 text-sm border-b border-gray-200">
            <div class="flex items-center space-x-2">
                <a class="text-gray-700" href="{{ url ('admin:index') }}">Admin</a>
                {% for parent in parent_view_classes %}
                <span class="text-gray-600">/</span>
                <a class="text-gray-700" href="{{ parent.get_absolute_url() }}">{{ parent.title }}</a>
                {% endfor %}
                <span class="text-gray-600">/</span>
                <a href="{{ request.path }}">{{ title }}</a>
            </div>
            <div>
                <a href="/">Back to app</a>
            </div>
        </div>

        <div class="flex items-center justify-between px-8 mt-8">
            <div>
            {% block header %}
                <h1 class="text-2xl font-semibold text-stone-700">
                    {{ title }}
                </h1>
                {% if description %}
                <p class="mt-2 text-sm text-gray-500">{{ description }}</p>
                {% elif object|default('') %}
                <p class="mt-2 text-sm text-gray-500">{{ object.__repr__() }}</p>
                {% endif %}
            {% endblock %}
            </div>
            <div class="flex space-x-2 text-sm actions">
                {% block actions %}{% endblock %}
                {% for link, url in links.items() %}
                <a href="{{ url }}">{{ link }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="px-8 py-6">
            {% if cards %}
            <div class="grid grid-cols-4 gap-6 mb-6">
            {% for card in cards %}
                <admin.Card class="
                    {%- if card.size.value == 1 -%}
                    col-span-1
                    {%- elif card.size.value == 2 -%}
                    col-span-2
                    {%- elif card.size.value == 3 -%}
                    col-span-3
                    {%- elif card.size.value == 4 -%}
                    col-span-4
                    {%- endif -%}">

                    {{ render_card(card)|safe }}

                </admin.Card>
            {% endfor %}
            </div>
            {% endif %}

            <main>{% block content %}{% endblock %}</main>
        </div>
    </div>

    <!-- TODO only if installed -->
    {% toolbar %}

    {% block footer_scripts %}{% endblock %}
</body>
</html>
