{% extends "admin/base.html" %}

{% block content %}

{% set create_url = get_create_url() %}
{% if create_url %}
<a href="{{ create_url }}">New</a>
{% endif %}

<admin.Card>

    {% if list_actions %}
    <form method="POST" data-actions-form>
        {{ csrf_input }}
        <select name="action_key">
            <option value="">Actions</option>
            {% for action in list_actions %}
            <option>{{ action }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="action_pks" value="" />
        <button type="submit" disabled>Apply</button>
    </form>
    {% endif %}

    {% if show_search %}
    <div class="flex justify-end">
        <form method="GET">
            <input
                name="search"
                class="border rounded"
                {% if search_query %}value="{{ search_query }}"{% endif %}
                />
            <button type="submit">Search</button>
        </form>
    </div>
    {% endif %}

    <div class="overflow-auto">
        <table class="w-full mt-4 text-sm table-auto">
            <thead>
                <tr>
                    {% if list_actions %}<th></th>{% endif %}

                    {% for field in list_fields %}
                        {% if order_by_field is defined %}
                        <th class="font-mono">
                            <a href="?order_by={{ '-' if not order_by_direction else '' }}{{ field }}">
                                {{ field }}
                                {% if field == order_by_field %}
                                {% if order_by_direction == "-" %}
                                <span class="text-xs">▲</span>
                                {% else %}
                                <span class="text-xs">▼</span>
                                {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        {% else %}
                        <th class="font-mono">{{ field }}</th>
                        {% endif %}
                    {% endfor %}
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                <tr>

                    {% if list_actions %}
                    <td class="p-0 pl-1">
                        <input data-action-checkbox class="rounded-sm" type="checkbox" name="{{ get_object_pk(object) }}" />
                    </td>
                    {% endif %}

                    {% for field in list_fields %}
                    <td>
                        <div class="flex">
                            {% set value = get_object_field(object, field) %}
                            {%- if value is true -%}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-3 h-3 text-green-500 bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>
                            {%- elif value is false -%}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-3 h-3 text-red-600 bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                            {%- else -%}
                            {{ value }}
                            {%- endif %}
                        </div>
                    </td>
                    {% endfor %}

                    {% set detail_url = get_detail_url(object) %}
                    {% if detail_url %}
                    <td>
                        <a href="{{ detail_url }}">Detail</a>
                    </td>
                    {% else %}
                    <td>
                    </td>
                    {% endif %}

                    {% set update_url = get_update_url(object) %}
                    {% if update_url %}
                    <td>
                        <a href="{{ update_url }}">Update</a>
                    </td>
                    {% else %}
                    <td>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        <div class="flex items-center justify-between">
            <div class="p-2 text-sm text-gray-500">
                {% if page.has_other_pages() %}
                Page {{ page.number }} of {{ page.paginator.num_pages }} ({{ page.paginator.count }} results)
                {% else %}
                Showing all {{ page.paginator.count }} results
                {% endif %}
            </div>
            {% if page.has_other_pages() %}
            <ul class="flex justify-center">
                {% if page.has_previous() %}
                <li>
                    <a href="?page={{ page.previous_page_number() }}">&laquo;</a>
                </li>
                {% endif %}
                {% for page_num in page.paginator.page_range %}
                {% if page_num == page.number %}
                <li>
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% else %}
                <li>
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page.has_next() %}
                <li>
                    <a href="?page={{ page.next_page_number() }}">&raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>

</admin.Card>

{% endblock %}

{% block footer_scripts %}
<script>
jQuery(function($) {
    var $actionCheckbox = $('[data-action-checkbox]');
    var $actionPks = $('[name="action_pks"]');
    var $actionSelect = $('[name="action_key"]');
    var $actionSubmit = $('[data-actions-form] [type="submit"]');

    $actionCheckbox.on('change', function() {
        var pks = [];
        $actionCheckbox.each(function() {
            if ($(this).is(':checked')) {
                pks.push($(this).attr('name'));
            }
        });
        $actionPks.val(pks.join(','));

        updateActionSubmit();
    });

    $actionSelect.on('change', function() {
        updateActionSubmit();
    });

    function updateActionSubmit() {
        if ($actionPks.val() && $actionSelect.val()) {
            // We've chosen an action
            $actionSubmit.prop('disabled', false);
        } else {
            $actionSubmit.prop('disabled', true);
        }
    }

    // TODO Enable shift-clicking to select a range of checkboxes
})
</script>
{% endblock %}
