---
imports:
  - from plain.forms import field_errors, field_value, form_errors
components:
  - base as Base
attrs:
  form: Any
  form_class: Any
---
<Base>
{% for error in form_errors(form) %}
<p class="form-error">{{ error.message }}</p>
{% endfor %}
<form method="post">
  <p>
    <input
      type="email"
      name="email"
      placeholder="Email"
      value="{{ field_value(form, form_class.email) }}"
      >
    {% for error in field_errors(form, form_class.email) %}
    <span class="form-error">{{ error.message }}</span>
    {% endfor %}
  </p>
  <p>
    <input
      type="password"
      name="password"
      placeholder="Password"
      >
    {% for error in field_errors(form, form_class.password) %}
    <span class="form-error">{{ error.message }}</span>
    {% endfor %}
  </p>
  <p>
    <input
      type="password"
      name="confirm_password"
      placeholder="Confirm password"
      >
    {% for error in field_errors(form, form_class.confirm_password) %}
    <span class="form-error">{{ error.message }}</span>
    {% endfor %}
  </p>
  <button type="submit">Sign up</button>
</form>
</Base>
