---
components:
  - elements/admin/Checkbox
  - elements/admin/Label
  - elements/admin/Help
  - elements/admin/FieldErrors
attrs:
  form: Any
  field: Any
  label: str
  help: str = ""
---
<div>
    <div class="flex items-center space-x-2">
        <Checkbox form="{{ form }}" field="{{ field }}" />
        <Label field="{{ field }}">{{ label }}</Label>
        {% if help %}
            <Help help="{{ help }}" />
        {% endif %}
    </div>
    <FieldErrors form="{{ form }}" field="{{ field }}" />
</div>
