[project]
name = "plain.code"
version = "0.11.3"
description = "Preconfigured code formatting and linting."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
readme = "README.md"
license = "BSD-3-Clause"
requires-python = ">=3.13"
dependencies = [
    "plain<1.0.0",
    "ruff>=0.1.0",
    "requests>=2.0.0",
    "tomlkit>=0.11.0",
]

# Make this available as a standalone command
# in case plain can't load or something (this can run anyways)
[project.scripts]
plain-code = "plain.code:cli"

[project.entry-points."plain.setup"]
"code-setup" = "plain.code.entrypoints:setup"

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
