[project]
name = "plain.code"
version = "0.4.0"
description = "Code formatting and linting for Plain."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "plain<1.0.0",
    "ruff>=0.1.0",
]

# Make the CLI available without adding to INSTALLED_APPS
[project.entry-points."plain.cli"]
"code" = "plain.code:cli"
"fix" = "plain.code.cli:fix"

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
