[project]
name = "plain.oauth"
version = "0.12.0"
description = "OAuth login and API access for Plain."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
license = "BSD-3-Clause"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "plain<1.0.0",
    "plain.auth<1.0.0",
    "plain.models<1.0.0",
    "requests>=2.0.0",
]

[tool.pytest.ini_options]
python_files = "tests.py test_*.py *_tests.py"
PLAIN_SETTINGS_MODULE = "tests.settings"
FAIL_INVALID_TEMPLATE_VARS = true

[tool.uv]
dev-dependencies = [
    "plain.pytest<1.0.0",
]

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
