[tool.poetry]
name = "plain.oauth"
version = "0.3.0"
description = "OAuth login and API access for Plain."
authors = ["Dave Gaeddert <dave.gaeddert@dropseed.dev>"]
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://plainframework.com"
documentation = "https://plainframework.com/docs/"
repository = "https://github.com/dropseed/plain"
packages = [
    { include = "plain" },
]

[tool.pytest.ini_options]
python_files = "tests.py test_*.py *_tests.py"
PLAIN_SETTINGS_MODULE = "tests.settings"
FAIL_INVALID_TEMPLATE_VARS = true

[tool.poetry.dependencies]
python = "^3.11"
plain = "<1.0.0"
"plain.auth" = "<1.0.0"
"plain.models" = "<1.0.0"
requests = "*"

[tool.poetry.group.dev.dependencies]
plain = {path = "../plain", develop = true}
"plain.auth" = {path = "../plain-auth", develop = true}
"plain.sessions" = {path = "../plain-sessions", develop = true}
"plain.models" = {path = "../plain-models", develop = true}
"plain.pytest" = {path = "../plain-pytest", develop = true}
coverage = "^7.6.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
