[tool.poetry]
name = "plain.oauth"
version = "0.1.1"
description = "OAuth login and API access for Plain."
authors = ["Dave Gaeddert <dave.gaeddert@dropseed.dev>"]
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://plainframework.com"
documentation = "https://plainframework.com/docs/"
repository = "https://github.com/dropseed/plain"
packages = [
    { include = "plain" },
]

[tool.pytest.ini_options]
python_files = "tests.py test_*.py *_tests.py"
PLAIN_SETTINGS_MODULE = "tests.settings"
FAIL_INVALID_TEMPLATE_VARS = true

[tool.poetry.dependencies]
python = "^3.11"

[tool.poetry.dev-dependencies]
black = "^22.1.0"
Django = "^4.0.0"
pytest = "^7.1.0"
pytest-django = "^4.5.2"
ipdb = "^0.13.9"
requests = "^2.27.1"
mypy = "*"
isort = "^5.10.1"
python-dotenv = "^0.20.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
