<div data-querystats class="relative group/querystats" style="display: none;">
    {% if "querystats" in request.session %}
    <button data-toolbar-tab="querystats" class="inline-flex items-center cursor-pointer text-xs rounded-full px-2 py-px bg-white/20 text-white/80 whitespace-nowrap">
        <span class="relative inline-flex size-2 mr-2">
            <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
            <span class="relative inline-flex size-2 rounded-full bg-green-500"></span>
        </span>
        <span data-querystats-summary></span>
    </button>
    {% else %}
    <form action="{{ url('admin:querystats:querystats') }}" method="post">
        {{ csrf_input }}
        <input type="hidden" name="redirect_url" value="{{ request.get_full_path() }}">
        <input type="hidden" name="querystats_action" value="enable">
        <button type="submit" class="cursor-pointer text-xs rounded-full px-2 py-px bg-white/20 text-white/80 whitespace-nowrap">
            <span class="rounded-full bg-zinc-500 w-2 h-2 inline-block mr-1"></span>
            <span data-querystats-summary></span>
        </button>
    </form>
    {% endif %}

    <div data-querystats-list style="display: none;" class="absolute z-50 hidden -translate-y-full right-0 -top-1 group-hover/querystats:block">
        <div class="p-2 text-xs border rounded shadow-md bg-zinc-900 border-zinc-700"><table><tbody></tbody></table></div>
    </div>
    <script async defer>
    // Catch errors since some browsers throw when using the new `type` option.
    // https://bugs.webkit.org/show_bug.cgi?id=209216
    var querystatsTimings = [];
    function renderQuerystats() {
        // Render the original timing call
        let summary = querystatsTimings[0].description;
        if (querystatsTimings.length > 1) {
            summary += ` *`;
        }
        document.querySelector('[data-querystats-summary]').innerText = summary;

        // Make sure the elements are visible
        document.querySelector('[data-querystats]').style.display = 'inline';

        // Render the table rows for all timings
        const list = document.querySelector('[data-querystats-list]');
        if (querystatsTimings.length > 1) {
            const tableRows = querystatsTimings.map(timing => {
                let url = timing.url;
                if (url.startsWith(window.location.origin)) {
                    // Make the url relative if possible (usually is)
                    url = url.slice(window.location.origin.length);
                }
                return `<tr>
                    <td class="pr-2 font-medium whitespace-nowrap">${url}</td>
                    <td class="whitespace-nowrap">${timing.description}</td>
                </tr>`;
            }).join('');
            list.querySelector("tbody").innerHTML = tableRows;
            list.style.display = '';
        } else {
            list.style.display = 'none';
        }
    }
    try {
        const po = new PerformanceObserver((list) => {
            for (const entry of list.getEntries()) {
                if (!entry.serverTiming) {
                    console.warn("Server timing not available for querystats.")
                    return;
                }
                for (const timing of entry.serverTiming) {
                    if (timing.name === "querystats") {
                        console.log("Querystats timing", entry)
                        timing.url = entry.name;  // Store this for reference later
                        for (const existingTiming of querystatsTimings) {
                            if (existingTiming == timing) {
                                // Skip duplicate timings (happens on initial load...)
                                return;
                            }
                        }
                        querystatsTimings.push(timing);
                        renderQuerystats();
                    }
                }
            }
        });
        po.observe({type: 'navigation', buffered: true});  // Catch the regular page loads
        po.observe({type: 'resource', buffered: true});  // Catch future ajax requests
    } catch (e) {
        // Do nothing if the browser doesn't support this API.
    }
    </script>
</div>
