[project]
name = "plain.tunnel"
version = "0.3.1"
description = ""
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
license = "BSD-3-Clause"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "plain<1.0.0",
    "websockets>=14.0",
]

# Make it also available as plain-tunnel,
# so tools like pipx and uvx can run it independently
[project.scripts]
"plain-tunnel" = "plain.tunnel.cli:cli"

# Make the CLI available without adding to INSTALLED_APPS
[project.entry-points."plain.cli"]
"tunnel" = "plain.tunnel:cli"

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
