{%- if DEBUG -%}
<script src="{{ asset('htmx/vendor/src/htmx.js') }}" defer></script>
{%- else -%}
<script src="{{ asset('htmx/vendor/src/htmx.min.js') }}" defer></script>
{%- endif -%}

{%- if DEBUG -%}
<script src="{{ asset('htmx/vendor/idiomorph/idiomorph.js') }}" defer></script>
{%- else -%}
<script src="{{ asset('htmx/vendor/idiomorph/idiomorph.min.js') }}" defer></script>
{%- endif -%}
<script src="{{ asset('htmx/vendor/idiomorph/idiomorph-htmx.js') }}" defer></script>

{%- for extension in extensions -%}
<script src="{{ asset('htmx/vendor/src/ext/' ~ extension ~ '.js') }}" defer></script>
{%- endfor -%}

<script src="{{ asset('htmx/plainhtmx.js') }}" defer></script>
