[project]
name = "plain.models"
version = "0.11.0"
description = "Database models for Plain."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "plain<1.0.0",
    "sqlparse>=0.3.1",
]

# Make these available at the root level
[project.entry-points."plain.cli"]
"makemigrations" = "plain.models.cli:makemigrations"
"migrate" = "plain.models.cli:migrate"

# Automatically sets this up with pytest
[project.entry-points."pytest11"]
"plain.models" = "plain.models.test.pytest"

[tool.uv]
dev-dependencies = [
    "plain.pytest<1.0.0",
]

[tool.uv.sources]
"plain.pytest" = {path = "../plain-pytest", editable = true}

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
