[project]
name = "plain.models"
version = "0.49.2"
description = "Model your data and store it in a database."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "plain<1.0.0",
    "sqlparse>=0.3.1",
]

[project.entry-points."plain.setup"]
"models-setup" = "plain.models.entrypoints:setup"

# Automatically sets this up with pytest
[project.entry-points."pytest11"]
"plain.models" = "plain.models.test.pytest"

[tool.uv]
dev-dependencies = [
    "plain.pytest<1.0.0",
]

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
