{% extends "admin/base.html" %}

{% block title %}
{%- if global_search_query -%}
Search results for "{{ global_search_query }}"
{%- else -%}
Search
{%- endif -%}
{% endblock %}

{% block content %}

{# Mobile search bar #}
<div class="sm:hidden">
    <form method="GET" action="{{ url('admin:search') }}" class="">
        <div class="relative">
            <label for="query" class="sr-only">Search</label>
            <input
                type="text"
                name="query"
                id="query"
                class="block w-full pr-10 pl-10 placeholder:text-center border-gray-200/10 text-white rounded-md focus:border-blue-500 focus:ring-blue-500 bg-white/5 py-1"
                placeholder="Search everything"
                value="{{ global_search_query|default('') }}"
                >
            <div class="absolute inset-y-0 left-0 flex items-center pl-4 pointer-events-none">
                <svg class="h-3.5 w-3.5 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
            </div>
        </div>
    </form>
</div>

{% if global_search_query %}
<div class="*:mt-14 *:empty:mt-0">
    {% for view in searchable_views %}
    <div
        hx-get="{{ view.get_view_url() }}?search={{ global_search_query }}&page_size=5"
        hx-trigger="plainhtmx:load from:body"
        plain-hx-fragment="list">
    </div>
    {% endfor %}
</div>
{% else %}
<p class="text-stone-500 hidden sm:inline">Enter a search query in the top bar</p>
{% endif %}

{% endblock %}
