[project]
name = "plain.redirection"
version = "0.23.0"
description = "A flexible URL redirection system with admin interface and logging."
authors = [{name = "Dave Gaeddert", email = "dave.gaeddert@dropseed.dev"}]
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "plain<1.0.0",
    "plain.models<1.0.0",
]

[tool.hatch.build.targets.wheel]
packages = ["plain"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
