---
components:
  - admin/base as Base
  - elements/admin/InputField
  - elements/admin/CheckboxField
  - elements/admin/Submit
attrs:
  form: Any
  form_class: Any
  title: str = ""
  app_name: str = "Plain"
  admin_force_theme: str = ""
  description: str = ""
  image: Any = None
  links: dict = {}
  extra_links: dict = {}
  parent_view_classes: list = []
  object: Any = None
  cards: list = []
---
<Base
    title="{{ title }}"
    app_name="{{ app_name }}"
    admin_force_theme="{{ admin_force_theme }}"
    description="{{ description }}"
    image="{{ image }}"
    links="{{ links }}"
    extra_links="{{ extra_links }}"
    parent_view_classes="{{ parent_view_classes }}"
    object="{{ object }}"
    cards="{{ cards }}"
>
    <form method="post" class="space-y-4">
        <InputField form="{{ form }}" field="{{ form_class.from_pattern }}" label="From pattern" />
        <InputField form="{{ form }}" field="{{ form_class.to_pattern }}" label="To pattern" />
        <CheckboxField form="{{ form }}" field="{{ form_class.is_regex }}" label="Use regular expressions" />
        <InputField form="{{ form }}" field="{{ form_class.http_status }}" label="HTTP status code" />
        <InputField form="{{ form }}" field="{{ form_class.order }}" label="Order" />
        <CheckboxField form="{{ form }}" field="{{ form_class.enabled }}" label="Enabled" />
        <Submit>Save</Submit>
    </form>
</Base>
