<div class="flex justify-center p-2">
    <form class="max-w-2xl w-full" method="post" action="{{ form_action }}">
        {{ csrf_input }}
        <div class="flex space-x-4">
            <div class="flex-1 space-y-1">
                <label class="font-medium" for="{{ form.name.html_id }}">Name</label>
                <input
                    id="{{ form.name.html_id }}"
                    class="block w-full rounded-sm text-black border-gray-300 border"
                    required
                    type="text"
                    name="{{ form.name.html_name }}"
                    value="{{ form.name.value() or '' }}">
            </div>
            <div class="flex-1 space-y-1">
                <label class="font-medium" for="{{ form.email.html_id }}">Email</label>
                <input
                    id="{{ form.email.html_id }}"
                    class="block w-full rounded-sm text-black border-gray-300 border"
                    required
                    type="email"
                    name="{{ form.email.html_name }}"
                    value="{{ form.email.value() or '' }}">
            </div>
        </div>
        <div class="mt-4 space-y-1">
            <label class="font-medium" for="{{ form.message.html_id }}">Message</label>
            <textarea
                id="{{ form.message.html_id }}"
                class="block w-full text-black rounded-sm border-gray-300 border"
                rows="10"
                required
                name="{{ form.message.html_name }}">{{ form.message.value() or '' }}</textarea>
        </div>
        <button class="mt-8 text-lg text-white block text-center bg-black hover:bg-black/80 w-full py-2 px-3 rounded-sm" type="submit">Submit</button>
    </form>
</div>
